<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Example</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    
    <style>
		.row.vdivide [class*='col-']:not(:last-child):after {
		  background: #e0e0e0;
		  width: 2px;
		  content: "";
		  display:block;
		  position: absolute;
		  top:-20px;
		  bottom: 0;
		  right: 0;
		  min-height: 150px;
		}
		.jumbotron {
		  min-height: 250px;
		}
    </style>

  </head>

  <body ng-app="mainApp" ng-controller="mainAppController as appCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href=".">Heroic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
    	<br><br>
    	<button id="btn1" class="btn btn-sm btn-primary float-lg-right" ng-click="addColumn('area1', 'area1_row')">Add column</button> <br><br>
		<div id="area1" class="jumbotron">
			<div id="area1_row" class="row vdivide">
				<div id="example1" class="col-md-12 text-center">
					<select style="width: 15%" class="float-lg-right" ng-options="option.name for option in options" ng-model="sel1" ng-click="selectService(sel1.src, 'example1')">
            			<option value="" disabled selected> Select Service </option>
					</select>
				</div>
			</div>
		</div>
		
		<br><br>
		<button id="btn2" class="btn btn-sm btn-primary float-lg-right" ng-click="addColumn('area2', 'area2_row')">Add column</button> <br><br>
		<div id="area2" class="jumbotron">
			<div id="area2_row" class="row vdivide">
				<div id="example2" class="col-md-12 text-center">
					<select style="width: 15%" class="float-lg-right" ng-options="option.name for option in options" ng-model="sel2" ng-click="selectService(sel2.src, 'example2')">
            			<option value="" disabled selected> Select Service </option>
					</select>
				</div>
			</div>
		</div>
		
		<br><br>
		<button id="btn3" class="btn btn-sm btn-primary float-lg-right" ng-click="addColumn('area3', 'area3_row')">Add column</button> <br><br>
		<div id="area3" class="jumbotron">
			<div id="area3_row" class="row vdivide">
				<div id="example3" class="col-md-12 text-center">
					<select style="width: 15%" class="float-lg-right" ng-options="option.name for option in options" ng-model="sel3" ng-click="selectService(sel3.src, 'example3')">
            			<option value="" disabled selected> Select Service </option>
					</select>
				</div>
			</div>
		</div>
		<br><br>
    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>

  </body>

</html>
